
.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: column;
  gap: 5px;
}

.account-profile-photo {
  display: block;
  margin: auto;
  width: 60vw;
  max-width: 100px;
  height: auto;
}

.account-greeting {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: white;

  text-align: center;
}
.account-subtext {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;

}
.account-maintext {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 30px;
  color: white;
}
.week-location-img-container {
  float: right;
}
.week-location-img {
  height: 310px;
  width: 310px;
  object-fit: cover;
  margin: 10px;
}
