/** @format */

* {
  box-sizing: border-box;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #0710bfaa);
}

body {
  margin: 0;

  margin: red 20px solid;
}
.title{
  font-size: 49px;
}
.nav {
  background-color: rgb(57, 56, 56);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 2rem;
}

.nav ul {
 
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  height: 100;
  color: inherit;

}

.nav a {
  padding:0 2rem;
  margin: 0;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;

  font-weight: bold;
}
nav li.active {
  background-color: rgb(38, 38, 38);
}

.nav li:hover {
  background-color: rgb(146, 0, 0);
}

.container{
  text-align: center;
}