/** @format */

* {
  box-sizing: border-box;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #0710bfaa);
}

body {
  margin: 0;
  margin: red 20px solid;
}

nav {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
