/** @format */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #0710bfaa);
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  color: #f9f9f9;
}

#site-title {
  font-size: 2em;
  color: white;
  font-family: "Lobster", cursive;
  margin-left: 10px;
  padding-left: 0;
  width: 120px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0;
  height: 5em;
  box-shadow: o 4px 4px #f9f9f9;
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  height: 100;
  color: inherit;
  /* border: red 5px solid; */
}

.nav a {
  padding: 0 2rem;
  margin: 0;
  color: inherit;
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
}
.active {
  /* background-color: rgb(38, 38, 38); */
}

.svgmenu {
  margin-right: 20px;
}

.nav li:hover {
  background-color: rgb(146, 0, 0);
}

.dash-colors-container {
  grid-row: 2/6;
  grid-column: 2/8;
  font-family: "Poppins";
  font-weight: 400;
  font-size: medium;
  color: rgb(255, 255, 255);
}

.graffiti {
  width: 100vw;
  grid-row: 1/7;
  grid-column: 1/11;
  z-index: -1;
}

/* grid-row: 1/5;
  grid-column: 1/7; */

.dashboard-text .discover {
  font-size: 80px;
}
.dashboard-items {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.dashboard-container {
  margin-top: 3em;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 70px;
  overflow: hidden;
}
.dash-button {
  font-family: "Poppins";
  font-size: medium;
  font-weight: 600;
  width: 180px;
  height: 50px;
  margin: 50px;

  color: white;
  border: none;
  background-color: rgb(117, 0, 216);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f9f9f9;
}
.svgmenu {
  align-self: center;
  justify-self: center;
}

.text-slab {
  font-size: 70px;
  white-space: nowrap;
  font-family: "Poppins";
  font-weight: 700;
}
.slab-container {
  overflow: hidden;
}

.chat-box-container {
  background-image: url(https://w0.peakpx.com/wallpaper/1005/226/HD-wallpaper-abstract-amoled-edge-galaxy-iphone-neon-note-pink-purple-samsung.jpg);
  background-size: cover;
  padding: 50px 0;
  box-shadow: 24px 60px 20px -40px inset rgb(0, 0, 0);
  overflow: hidden;
  filter: blur(0.2);
}
.left-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 0;
}
.right-chat-container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.left-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.3em;
  width: fit-content;
  padding: 30px;
  height: 50px;
  border-radius: 16px 16px 16px 0px;
  color: black;
  background-color: rgb(216, 216, 216);
  margin: 6px;
}
.right-chat {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: sans-serif;
  font-size: 1.3em;
  width: fit-content;
  padding: 30px;
  height: 50px;
  border-radius: 16px 16px 0px 16px;
  color: black;
  background-color: rgb(216, 216, 216);
  margin: 6px;
}
.chat-gif {
  border-radius: 15px;
  border: 2px solid black;
  margin: 6px;
  max-width: 300px;
}

.sample-locations-container {
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 40px 0 40px 0;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.experience-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}
.experience-subcontainer {
  align-items: start;
  margin: auto 10px;
}
.chat-image {
  border-radius: 0px;
  margin: 6px 0 40px 0;
  max-width: 90vw;
}
.h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.h3 {
  font-family: "poppins";
  font-weight: 400;
  font-size: 21px;
  color: rgb(255, 255, 255);
  margin-top: 0px;
}
.purple {
  background-color: rgb(117, 0, 216);
  width: fit-content;
  margin: 3px 0px;
  padding: 0 12px;
}
.red {
  background-color: rgb(235, 72, 77);
  width: fit-content;
  margin: 3px 0px;
  padding: 0 12px;
}
p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 13px;
  max-width: 400px;
  text-align: left;
}
.h2-head,
.h2-foot {
  margin: 120px 20px;
  text-align: center;
}
.wood {
  color: black;
}

.nice-quote {
  font-size: 3em;
}
.input-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.top-input-container {
  margin-bottom: 80px;
}
.input-field-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.first-name {
  max-width: 140px;
  height: 70px;
  background-color: #181818;
  color: #f9f9f9;
  border: none;
  font-size: medium;
  input-security: auto;
}

.last-name {
  max-width: 200px;
  height: 70px;
  background-color: #181818;
  border: none;
  font-size: medium;
}
.submit-btn {
  width: 345px;
  height: 70px;
  background-color: #181818;
  color: white;
  border: none;
  font-size: medium;
}

@media (min-width: 550px) {
  .experience-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 30px;
    gap: 30px;
  }
  .chat-image {
    width: 500px;
    max-width: 50vw;
  }
  .experience-subcontainer {
    max-width: 400px;
  }
  .h2 {
    font-weight: 600;
    font-size: 18px;
  }
  .h3 {
    font-weight: 400;
    font-size: 21px;
    margin-top: 0px;
  }
  p {
    font-size: 14px;
  }
}
@media (min-width: 800px) {
  .experience-container {
    margin: 0;
    gap: 20px;
  }
  .chat-image {
    width: 600px;
    max-width: 80vw;
  }
  .h2 {
    font-weight: 600;
    font-size: 30px;
  }
  .h3 {
    font-weight: 400;
    font-size: 21px;
    margin-top: 0px;
  }
  p {
    font-size: 18px;
  }
}
